{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    
    <title>Crimson Cay</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href="static/placeholder.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    body {
      background-image:url(static/crimsoncay.jpg);
      background-position: center top;
      background-repeat:no-repeat;
      background-color: black;
    }
    </style>
  	</head>
	

	<body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Crimson Cay</a>
          <ul class = "nav navbar-nav">
          <li><a href="{% url 'resume' %}">Upcoming Shows</a></li>
          <!--<li><a href="{% url 'codeSamples' %}">Samples</a></li>
          <li><a href="{% url 'courseList' %}">Courses</a></li>-->
          <li><a href="{% url 'personalHistory' %}">About The Band</a></li>
          <li><a href="{% url 'contactMe' %}">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <figure>
      <img class="img-responsive center-block" src="{% static 'groupshot.jpg' %}" alt="Crimson Cay Group Shot">
      <!--<p style="text-align:center">This is the place where you can write about you gusy and how you're all great and stuff and I need words to fill space so words words wrods wrods lakjd;flkjasdflkajsd;lkfja lorem ipsum whatever and on and on and onand on an don an don on. But wait theres more, it's more words that fill up space to better see if the space filling is working liek I think it is. Space words up down left right around who when why where what how selenium forest 
      animals as leaders dream theater kamelot opeth.</p> -->
      <figcaption> This is the place where you can write about you gusy and how you're all great and stuff and I need words to fill space so words words wrods wrods lakjd;flkjasdflkajsd;lkfja lorem ipsum whatever and on and on and onand on an don an don on. But wait theres more, it's more words that fill up space to better see if the space filling is working liek I think it is. Space words up down left right around who when why where what how selenium forest 
      animals as leaders dream theater kamelot opeth.</figcaption>
    </figure>
	</body>


</html>