{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    
    <title>Crimson Cay</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href="static/placeholder.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
  	</head>
	

	<body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Crimson Cay</a>
          <ul class = "nav navbar-nav">
          <li><a href="{% url 'resume' %}">Upcoming Shows</a></li>
          <!--<li><a href="{% url 'codeSamples' %}">Samples</a></li>
          <li><a href="{% url 'courseList' %}">Courses</a></li>-->
          <li><a href="{% url 'personalHistory' %}">About The Band</a></li>
          <li><a href="{% url 'contactMe' %}">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Tabbing -->
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role ="presentation" class="active"><a href="#SAP" aria-controls="SAP" role="tab" data-toggle="tab">Skills and Projects</a></li>
        <li role ="presentation"><a href="#WE" aria-controls="WE" role="tab" data-toggle="tab">Work Experience</a></li>
        <li role="presentation"><a href="#E" aria-controls="E" role="tab" data-toggle="tab">Education</a></li>
        <li role ="presentation"><a href="#V" aria-controls="V" role="tab" data-toggle="tab">Volunteering</a></li>
        <li role="presentation"><a href="#PDF" aria-controls="PDF" role="tab" data-toggle="tab">PDF Download</a></li>
      </ul>
    

    <div class="tab-content">
      <!-- Skills and Projects Panel -->
      <div role="tabpanel" class="tab-pane fade in active" id="SAP">
              <div class="container">

        <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Skills and Projects
                </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
            <h3>Proficiency with the Following:</h3>
            <dl class="dl-horizontal">
              <dt style='white-space : normal;'>Programming Languages:</dt>
              <dd>
              <li>Python</li>
              <li>Java (including Android applications and desktop applets) and JavaScript</li>
              <li>C and C++</li>
              <li>Racket</li>
              <li>SQL, XPath and XQuery</li></dd>
              <dt style='white-space : normal;'>Markup Languages<dt>
              <dd>
              <li>HTML</li></dd>
              <dt style='white-space : normal;'>Development Frameworks</dt>
              <dd>
              <li>Django</li>
              <li>Bootstrap</li></dd>
              <dt style='white-space : normal;'>Development Methodologies</dt>
              <dd>
              <li>Agile</li>
              <li>Scrum</li></dd>
            </dl>
            </div>
            <div class="col-lg-6">
              <h3>Examples of Completed Projects:</h3>
              <ul>
                <li>Developed an Android application for emergency room triage.</li>
                <li>Developed a website to ease communication between professors and students using the agile software project management and development framework.</li>
                <li>Developed a website for community based crowdfunding. This included backend server-side work as well as front-end UI development.</li>
                <li>Developed a tool for teaching computer science to elementary school level children using games. This included research done using interviews and surveys with students and teachers at Toronto schools, which in turn defined functional requirements and project specifications for the project.</li>
                <li>Developed a web application that used image analysis and various image correctional techniques to recommend a shade of foundation to users based on a selfie. This included user research and validation, as well as the development of a full business plan and monetization model.</li>
              </ul>
            </div>
          </div>

       
        

      </div>
    </div>

      <!-- Work Experience Panel -->
      <div role="tabpanel" class="tab-pane fade" id="WE">
        <div class="container">

        <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Work Experience
                </h1>
            </div>
          </div>
        <!-- /.row -->

        <!-- Project One -->
          <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive center-block" src="{% static 'library.jpg' %}" alt="U of T Downsview Storage Library">
            </div>
            <div class="col-md-5">
                <h3>Library Assistant</h3>
                <h4>University of Toronto - Downsview Storage Library</h4>
                <p>Assisted librarians with the management of an ever growing number of holdings in need of sorting, labeling and archiving. <br>Used the library's database to enter and maintain filed holdings.</p>
            </div>
          </div>
          <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{% static 'embassy.jpg' %}" alt="Canadian Embassy Rome">
            </div>
            <div class="col-md-5">
                <h3>Part-Time Support Officer</h3>
                <h4>Canadian Embassy, Rome</h4>
                <p>Provided information and support to clients looking to immigrate to Canada and guided them through the requirements and processes of immigration.<br>Created an internal wiki of embassy staff to ease inter-departmental communication and cooperation.<br>Performed various administrative tasks for the embassy housing and finance departments.<br>Assisted staff with preparations for Canadian industry events, including design and production of materials and invitations for investors during trade shows and marketing events.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">

                    <img class="img-responsive" src="{% static 'beaverTails.jpg' %}" alt="Beaver Tails">
            </div>
            <div class="col-md-5">
                <h3>Customer Service Representative</h3>
                <h4>BeaverTails Canada</h4>
                <p>Took and served food and beverage orders, collecting payments as appropriate and dealing with customer inquiries and complaints as appropriate.<br>Bilingual position.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                    <img class="img-responsive" src="{% static 'tennis.jpg' %}" alt="Tennis">
            </div>
            <div class="col-md-5">
                <h3>Camp Counselor</h3>
                <h4>Ottawa Tennis and Lawn Bowling Club</h4>
                <p>Responsible for the care of children aged 5 to 13 in attendance of the camp.<br>Assisted with day to day activities and management in the camp, including tennis instruction, swimming and more.<br>Position required first-aid and life saving certifications.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
      </div>
    </div>

      <!--Education Panel -->
      <div role="tabpanel" class="tab-pane fade" id="E">
                <div class="container">

        <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Education
                </h1>
            </div>
          </div>
        <!-- /.row -->

        <!-- Project One -->
          <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive center-block" src="{% static 'uoft.jpg' %}" alt="U of T">
            </div>
            <div class="col-md-5">
                <h3>Honors Bachelors of Science</h3>
                <h4>University of Toronto</h4>
                <p>Honors Bachelors of Science completed in August 2016 at the University of Toronto.<br>Specialized in Computer Science and minored in Mathematics.</p>
            </div>
          </div>
>            
          <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{% static 'glebe.jpg' %}" alt="Glebe">
            </div>
            <div class="col-md-5">
                <h3>Bilingual High School Diploma</h3>
                <h4>Glebe Collegiate Institute</h4>
                <p>High school diploma completed and received from Glebe Collegiate Institute in Ottawa in July 2012, bilingual distinction for completing a third of courses in French.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{% static 'elementary.jpg' %}" alt="Elementary School">
            </div>
            <div class="col-md-5">
                <h3>Earlier Education</h3>
                <h4>Various</h4>
                <p>Various English and French schools in Iran, Ottawa, India and Belgium.</p>
            </div>

        </div>
        <!-- /.row -->

        <hr>
      </div>


      </div>


      <!--Volunteer Work Panel-->
      <div role="tabpanel" class="tab-pane fade" id="V">
                <div class="container">

        <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Volunteer Work
                </h1>
            </div>
          </div>
        <!-- /.row -->

        <!-- Project One -->
          <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive center-block" src="{% static 'tennis2.jpg' %}" alt="OTLBC2">
            </div>
            <div class="col-md-5">
                <h3>Ottawa Tennis and Lawn Bowling Club</h3>
                <p>Volunteered for various activities and events around the club, including the weekly "Let's Play" tennis workshops aimed at engaging younger and novice members of the community while instilling in them basic tennis skills.<br>Received the OTLBC Norman King Junior award at the end of the 2010-2011 season in recognition of my contributions.</p>
            </div>
          </div>
          <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{% static 'togo.jpg' %}" alt="Togo">
            </div>
            <div class="col-md-5">
                <h3>Espace Sociale - Togo</h3>
                <p>Volunteered for a service trip to Togo with the charity Espace Sociale in conjunction with the International School of Brussels. Fundraised through various events before the trip, aided with the construction of a library during it, and raised awareness during assemblies and presentations afterwards.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
      </div>


      </div>

            <!--Volunteer Work Panel-->
      <div role="tabpanel" class="tab-pane fade" id="PDF">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Download
                </h1>
            </div>
          </div>
          <a href="{% static 'ThomasRobinsonResume.pdf'%}">
            <button type="button" class="btn btn-primary" id="B1">Click Here To Download as PDF</button>
          </a>
        </div>


      </div>
    </div>

    </div>

	</body>


</html>