{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    
    <title>Crimson Cay</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href="static/placeholder.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
  	</head>
	

	<body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Crimson Cay</a>
          <ul class = "nav navbar-nav">
          <li><a href="{% url 'resume' %}">Upcoming Shows</a></li>
          <!--<li><a href="{% url 'codeSamples' %}">Samples</a></li>
          <li><a href="{% url 'courseList' %}">Courses</a></li>-->
          <li><a href="{% url 'personalHistory' %}">About The Band</a></li>
          <li><a href="{% url 'contactMe' %}">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Crimson Cay" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#FFFFFF" data-link-color="#31465C" data-popup-background-color="#000000" data-background-color="#000000" data-display-limit="15" data-link-text-color="#FFFFFF"></a>
	</body>


</html>